.container {
        display: flex;
        gap: 100px;
}

.textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2rem;
}

.heading {
        font-size: 5.5rem;
}

.buttonsContainer {
        display: flex;
        gap: 1.5rem;
}

.button {
        padding: .9rem;
        border-radius: 4px;
        border: 0;
}

.button:first-child {
        background-color: var(--btn);
        color: var(--text)
}

.brands {
        width: 500px !important;
        height: 50px;
        position: relative;
        filter: grayscale(100)
}


.imgContainer {
        flex: 1;
        position: relative;
        /* width: 50%;
        height: 50%; */
}

@media screen and (max-width:1024px) {
        .container {
                flex-direction: column;
                text-align: center;
        }

        .buttons {
                justify-content: center;
        }

}

@media screen and (max-width:768px) {
        .title {
                font-size: 64px;
        }

        .brands {
                width: 100%;
        }

}